body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-field {
    height: 870px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.user {
    height: 115px;
    width: 180px;
    background-color: burlywood;
    border-radius: 15px;
}

.user-info {
    height: 51px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.user-avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: aqua;
}

.balance-info {
    height: 20px;
    width: 145px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: 5px;
}

.playing-field {
    height: 870px;
    width: 870px;
    background-color: #BA9292;
    margin-left: 150px;
}

.bonus-section {
    height: 120px;
    width: 120px;
    background-color: #fec775;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bonuses,
.bottom-bonuses {
    display: flex;
    justify-content: space-between;
}

.bonuses {
    height: 870px;
    width: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sections {
    position: relative;
}

.top-sections,
.bottom-sections {
    height: 120px;
    width: 630px;
    display: flex;
}

.top-sections {
    position: absolute;
    top: 0;
    left: 120px;
}

.bottom-sections {
    position: absolute;
    bottom: 0;
    left: 120px;
}

.right-sections,
.left-sections {
    height: 630px;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.right-sections {
    position: absolute;
    top: 120px;
    right: 0;
}

.left-sections {
    position: absolute;
    top: 120px;
    left: 0;
}

.top-sections .section,
.bottom-sections .section {
    height: 120px;
    width: 70px;
    background-color: #fff;
    border: solid 1px;
    border-top: 0;
    border-bottom: 0;
}

.right-sections .section,
.left-sections .section {
    height: 70px;
    width: 120px;
    background-color: #fff;
    border: solid 1px;
    border-right: 0;
    border-left: 0;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chips {
    height: 120px;
    width: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uchip {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px double #b9a016;
    position: absolute;
    z-index: 1;
}

.uchip-1 {
    background-color: orange;
}

.uchip-2 {
    background-color: greenyellow;
}

.uchip-3 {
    background-color: lightblue;
}

.uchip-4 {
    background-color: red;
}

.uchip-5 {
    background-color: purple;
}