body {
    margin: 0;
    background-color: bisque;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
}

.users-container {
    height: 870px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user {
    height: 115px;
    width: 180px;
    background-color: #D9D9D9;
    border-radius: 15px;
}

.avatar {
    height: 51px;
    width: 51px;
    border-radius: 100%;
    background-color: aqua;
    margin: 10px;
}

.user-name {
    font-size: 18px;
    margin-top: 22px;
    margin-left: 8px;
}

.balance-info {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.balance {
    margin-left: 10px;
}

.field-container {
    height: 870px;
    width: 870px;
    background-color: #BA9292;
}

.users-container,
.field-container {
    margin: 16px -185px 0px 320px;
}

.top-line {
    height: 120px;
    width: 750px;
    background-color: #ffff;
}

.bottom-line {
    height: 120px;
    width: 750px;
    background-color: #ffff;
    margin-left: 120px;
    transform: rotate(180deg);
}

.left-line {
    height: 750px;
    width: 120px;
    background-color: #ffff;
    margin-top: -750px;
    transform: rotate(180deg);
}

.right-line {
    width: 120px;
    height: 750px;
    background-color: #ffff;
    margin-top: -120px;
    margin-left: 750px;
}

.extra {
    height: 118px;
    width: 118px;
    background-color: antiquewhite;
    border: solid 1px;
}

.top-line--sections,
.bottom-line--sections {
    height: 120px;
    width: 630px;
    margin-left: 120px;
    margin-top: -120px;
    display: flex;
}

.right-line--sections,
.left-line--sections {
    width: 120px;
    height: 630px;
}

.section--t {
    height: 118px;
    width: 70px;
    background-color: rgb(204 204 253);
    border: solid 1px rgb(0, 0, 0);
}

.section--b {
    height: 118px;
    width: 70px;
    background-color: rgb(204 204 253);
    border: solid 1px rgb(0, 0, 0);
    transform: rotate(180deg);
}

.section--l {
    height: 68px;
    width: 118px;
    background-color: rgb(204 204 253);
    border: solid 1px rgb(0, 0, 0);
    transform: rotate(180deg);
}

.section--r {
    height: 68px;
    width: 118px;
    background-color: rgb(204 204 253);
    border: solid 1px rgb(0, 0, 0);
}

.section--t,
.section--r,
.section--b,
.section--l,
.extra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.officer--image {
    transform: rotate(180deg);
}

.revolver--image {
    transform: rotate(180deg);
}

.user-info {
    display: flex;
}