* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    perspective: 500px;
}

img {
    pointer-events: none;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-field {
    height: 870px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.user {
    height: 115px;
    width: 180px;
    background-color: burlywood;
    border-radius: 15px;
    box-shadow: 7px 7px 7px #9E9E9E;
}

.user-info {
    height: 51px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.user-avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgb(167, 88, 88);
}

.user-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.balance-info {
    height: 20px;
    width: 145px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: 5px;
}

.balance-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.user-balance {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.playing-field {
    height: 870px;
    width: 870px;
    background-color: #BA9292;
    margin-left: 150px;
    box-shadow: 5px 5px 10px #9E9E9E;
}

.bonus-section {
    height: 120px;
    width: 120px;
    background-color: #fec775;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bonuses,
.bottom-bonuses {
    display: flex;
    justify-content: space-between;
}

.bonuses {
    height: 870px;
    width: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sections {
    position: relative;
}

.top-sections,
.bottom-sections {
    height: 120px;
    width: 630px;
    display: flex;
}

.top-sections {
    position: absolute;
    top: 0;
    left: 120px;
}

.bottom-sections {
    position: absolute;
    bottom: 0;
    left: 120px;
}

.right-sections,
.left-sections {
    height: 630px;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.right-sections {
    position: absolute;
    top: 120px;
    right: 0;
}

.left-sections {
    position: absolute;
    top: 120px;
    left: 0;
}

.top-sections .section,
.bottom-sections .section {
    height: 120px;
    width: 70px;
    background-color: #fff;
    border: solid 1px;
    border-top: 0;
    border-bottom: 0;
}

.right-sections .section,
.left-sections .section {
    height: 70px;
    width: 120px;
    background-color: #fff;
    border: solid 1px;
    border-right: 0;
    border-left: 0;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-description {
    height: 320px;
    width: 220px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 6px;
    margin-top: 450px;
    display: none;
    flex-direction: column;
}

.section-description-1 .brand {
    background-color: pink;
}

.brand {
    height: 60px;
    width: 100%;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.brand-name {
    margin-top: 12px;
    font-weight: bold;
    font-size: 18px;
}

.brand-type {
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
}

.brand-name,
.brand-type {
    margin-left: 17px;
}

.description-part-1 {
    color: grey;
    margin-top: 5px;
}

.description-part-2 {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 12px;
}

.description-ls-2 {
    display: flex;
    flex-direction: column;
    color: grey;
}

.description-rs-2 {
    display: flex;
    flex-direction: column;
    color: darkslategrey;
}

.description-part-3 {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 15px;
}

.description-ls-3 {
    display: flex;
    flex-direction: column;
    color: grey;
}

.description-rs-3 {
    display: flex;
    flex-direction: column;
    color: darkslategrey;
}

.section-description-3 .brand {
    background-color: #d1ad0c;
}

.description-part-1,
.description-part-2,
.description-part-3 {
    margin-left: 10px;
}

.section-description-bottom {
    margin-bottom: 900px;
}

.section-description-2 .brand {
    background-color: brown;
}

.section-description-5 .brand {
    background-color: #863600;
}

.section-description-7 .brand {
    background-color: forestgreen;
}

.section-description-8 .brand {
    background-color: #3f70ff;
}

.rent-level {
    display: flex;
    height: 19px;
    width: 95px;
}

.rl {
    height: 12px;
    width: 12px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 8px;
}

.rlx {
    background-color: goldenrod;
}

.base-rent {
    margin-bottom: 2px;
}

.chips {
    height: 120px;
    width: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uchip {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px double #b9a016;
    position: absolute;
    z-index: 1;
}

.uchip-1 {
    background-color: orange;
}

.uchip-2 {
    background-color: greenyellow;
}

.uchip-3 {
    background-color: lightblue;
}

.uchip-4 {
    background-color: red;
}

.uchip-5 {
    background-color: purple;
}

.cube-wrapper {
    position: absolute;
    margin: 285px 0 0 285px;
    width: 300px;
    height: 300px;
    perspective: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid #fff;
    font: normal 70px Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.front-side {
    transform: translateZ(150px);
}

.back-side {
    transform: rotateY(180deg) translateZ(150px);
}

.right-side {
    transform: rotateY(90deg) translateZ(150px);
}

.left-side {
    transform: rotateY(-90deg) translateZ(150px);
}

.top-side {
    transform: rotateX(90deg) translateZ(150px);
}

.bottom-side {
    transform: rotateX(-90deg) translateZ(150px);
}